{% extends 'base.html' %} 
{% block title %}Ошибка 404. Такой короткой ссылки ещё нет.{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">Ошибка 404.</h1>
        <p>Такой короткой ссылки ещё нет.</p>
        <p>
          Но вы можете её
          <a href="{{ url_for('index_view') }}">cоздать</a>.
        </p>
      </div>
    </div>
  </section>
</main>
{% endblock %}